/* FONTS USED IN PROJECT

font-family: birch-std, serif;
font-weight: 400;

font-family: sabbath-black, serif;
font-weight: 400;

font-family: sabbath-black, serif;
font-weight: 800;
*/

:root {
    --black: #0e0e0e;
    --bright-red: #b70004;
    --dark-red: #7a0113;
    --white: #F0F4F5;
}

nav.navbar {
    background-color: var(--black);
    color: var(--bright-red);
}

span.navbar-brand, .nav-link, .display-2, footer h2, footer p {
    font-family: birch-std, serif;
  /*  font-weight: 400;
    text-transform: uppercase;
    font-size: 3rem; */
    color: var(--bright-red);
}

.navbar-brand span, span.display-1, .card-title span, footer h2 span {
    font-family: sabbath-black, serif;
   /* font-weight: 800;
    font-size: 3.5rem; */
}

.nav-link:hover, .navbar-brand:hover {
    color: var(--dark-red) !important;
    transition: color 0.3s ease;
}

.navbar-toggler-icon {
    background-image: url(../images/menu-icon.png);
}


footer img {
    width: auto;
    height: 2.5rem;
}

footer a img:hover {
    filter: brightness(0.8);
    transition: filter 0.3s ease;
}

/* INDEX */

.hero {
    height: 90vh;
    background-image: url(../images/home-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tour-dates, .tour-dates .card {
    background-color: var(--dark-red);
    color: var(--white);
}

.card-title {
    font-family: birch-std, serif;
}

.card-footer {
    background-color: var(--black);
    color: var(--white);
}

.card-footer small, .tour-dates > p {
    font-family: birch-std, serif;
}

.hero > span {
    padding: 10rem 25rem !important;
}

.news-articles {
    font-family: birch-std, serif;
    color: var(--black);
    background-color: var(--white);
}

.news {
    scale: 1;
    transition: transform 0.3s ease;
}

.news:hover {
    transform: scale(1.05);
}

.hero div {
    width: 90%;
    height: 80%;
    border-color: var(--dark-red) !important;
}

.hero h1 {
    color: var(--dark-red) !important;
    font-size: 6rem;
    font-family: birch-std, serif;
}

.hero h1 span {
    color: var(--dark-red) !important;
    font-family: sabbath-black, serif;
    font-size: 7rem;
}

.hero h1:last-child {
    font-size: 10rem;
}

.hero h1:last-child span {
    font-size: 12rem;
}

.tour-dates small {
    letter-spacing: 0.05rem;
}

.tour-dates p {
    font-family: birch-std, serif;
}

/*ABOUT PAGE */

.about {
    background-color: var(--black);
    color: var(--white);
    font-family: birch-std, serif;
    
}

/*TOUR PAGE*/

.tour-page {
    background-color: #ececec;
    font-family: sabbath-black, serif;
    color: var(--black);
}

.tour-page p {
    font-family: birch-std, serif;
}

/*DISCOGRAPHY PAGE*/

.tracks h3, .tracks p {
    font-family: birch-std, serif;
    color: var(--white);
}

.album-info {
    font-size: max(4.6vw, 1rem);
    /*2.4vw*/
}


/* SMALL */
@media (min-width: 576px) {
        .album-info {
        font-size: max(2.8vw, 1rem);
    }
}

/* MEDIUM */
@media (min-width: 768px) {
    .tour-page {
    background-image: url(../images/tour-cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    padding: 0 10vw;
    }
}

/* LARGE */
@media (min-width: 992px) {
    .album-info {

}
}

/* XL */
@media (min-width: 1200px) {
        .album-info {
        font-size: min(2.8vw, 1.8rem);   
}  
}
